.rightSection{
    width: 29%;
    height: 100%;
}

.details {
    height: 100%;
}

.profilePicture {
    justify-content: center;
    padding: 30px 0;
}

.profilePicture img {
    height: 20vh;
    width: auto;
}

.name {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.info {
    padding: 20px;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 60%;
}

.info p {
    font-size: 12px;
}

.value {
    font-weight: bold;
}

.infoItem {
    gap: 10px;
}

.showAll {
    justify-content: center;
    width: 100%;
}

.showAll button {
    width: 70%;
    background-color: var(--accent-color-3);
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
}

.labResults{
    margin: 20px 0;
    padding: 20px;
}

.header {
    font-weight: bold;
    font-size: 25px;
}

.resultsList {
    margin: 20px 0;
    cursor: pointer;
    border-radius: 5px;
    max-height: 500px;
    overflow-y: scroll;
}

.resultElement{
    justify-content: space-between;
    padding: 20px;
}

.resultElement:hover {
    background-color: var(--hover-color);
}