/* Base styles for larger screens (desktops) */
.header {
    width: 100%;
    padding: 10px 30px;
    background-color: var(--accent-color-1);
    border-radius: 200px;
    display: flex; /* Ensure flexbox layout */
    justify-content: space-between;
    align-items: center; /* Center items vertically */
}

.logo {
    width: 10%;
    height: auto;
    cursor: pointer;
}

.navBar {
    display: flex; /* Ensure flexbox layout */
    width: 100%;
    gap: 10px;
    justify-content: flex-end; /* Align navigation elements to the end */
    align-items: center; /* Center items vertically */
}

.navElement {
    padding: 8px 12px;
    border-radius: 50px;
    cursor: pointer;
    gap: 5px;
    transition: all 0.3s ease-in;
}

.navElement:hover, .navElement.active {
    background-color: var(--accent-color-3);
}

.navElement img {
    height: 1.5vh;
}

.navElement p{
    font-weight: bold;
}

/* Medium screens (tablets) */
@media (max-width: 1024px) {
    .header {
        padding: 8px 20px; /* Reduce padding for tablets */
    }

    .logo {
        width: 15%; /* Adjust logo width for tablets */
    }

    .navElement img {
        height: 2vh; /* Adjust image height for tablets */
    }
}

/* Small screens (mobile devices) */
@media (max-width: 768px) {
    .logo {
        display: none;
    }

    .navElement {
        border-radius: 5px;
    }

    .navElement p {
        display: none;
    }

    .navElement img {
        height: 2.5vh;
    }

    .header {
        position: fixed;
        bottom: 10px;
        right: 0px;
        left: 0px;
        width: 100%;
        height: 10vh;
        justify-content: space-evenly;
    }
}
