.historyPage {
    width: 69%;
    height: 100%;
}

.history {
    padding: 20px;
}

.header {
    font-weight: bold;
    font-size: 25px;
}

.chart{
    background-color: var(--graph-background);
    margin: 20px 0;
    border-radius: 10px;
    height: 50%;

}

.lineGraph {
    padding: 20px;
    width: 70%;
    height: 100%;
    cursor: pointer;
    /* border: 1px solid red; */
}

.graphDetails {
    width: 30%;
    height: 100%;
    /* background-color: red; */
}

.dataElement {
    margin: 20px 0;
    height: 30%;
    justify-content: space-evenly;
}

.dataElement img {
    height: 0.7vh;
    margin-right: 5px;
}

.feedback {
    font-size: 14px;
}

.detailsHeader{
    gap: 10px;
}

.detailsHeader p{
    font-weight: bold;
}

.color1, .color2 {
    padding: 5px;
    border-radius: 50%;
}

.color1 {
    background-color: var(--systolic-color);
}

.color2 {
    background-color: var(--diastolic-color);
}

.value {
    font-weight: bold;
    font-size: 20px;
}

.divider {
    height: 1px;
    width: 50%;
    background-color: var(--accent-color-2);
}

/* ============LIST============== */

.list {
    width: 100%;
    margin: 20px 0;
    padding: 20px;
    background-color: var(--accent-color-1);
}

.tableHeaders {
    margin: 20px 0;
    background-color: #F6F7F8;
    border-radius: 50px;
    padding: 20px;
}

.tableHeaders p{
    font-weight: bold;
}

.diagnosis {
    width: 30%;
}

.description {
    width: 50%;
}

.status {
    width: 10%;
}

.tableRows {
    border-bottom: 1px solid rgb(229, 229, 229);
    padding: 20px;
}

