@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* For webkit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 4px; /* Set the width of the scrollbar */
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255); /* Color of the thumb (the draggable part) */
  border-radius: 4px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-track {
  background-color: #ffffff; /* Color of the track (the area behind the thumb) */
}

:root{
  --background-color: #F6F7F8;
  --accent-color-1: white;
  --accent-color-2: gray;
  --accent-color-3: #01F0D0;
  --accent-color-4: #D8FCF7;
  --graph-background: #F4F0FE;
  --respiratory-rate-background: #E0F3FA;
  --temperature-background: #FFE6E9;
  --heart-rate-background: #FFE6F1;
  --systolic-color: #E66FD2;
  --diastolic-color: #8C6FE6;
  --hover-color: #F6F7F8;
}

body{
  background-color: var(--background-color);
  height: 100vh;
  width: 100vw;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.flex-row, .flex-col{
  display: flex;
}

.flex-row {
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.card {
  border-radius: 10px;
  background-color: var(--accent-color-1);
}